@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
  margin-top: 200px;
}
.choice-container {
  display: flex;
  margin-bottom: 0.8rem;
  width: 100%;
  border-radius: 4px;
  background: rgb(18,93,255);
  font-size: 3rem;
  min-width: 80rem;
}
.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(6,103,247, 0.5);
  transform: scale(1.02);
  transform: transform 100ms;
}
.choice-prefix {
  padding: 2rem 2.5rem;
  color: #fff;
}
.choice-text{
  padding: 2rem;
  width: 100%;
}
.correct {
  background: linear-gradient(32deg, rgba(11,223,36)0%, rgb(41,232,111)100%);
}
.incorrect {
  background: linear-gradient(32deg, rgba(230,29,29,1)0%, rgb(224,11,11,1)100%);
}
/* Heads up Display */
#hud {
  display: flex;
  justify-content: space-between;
}
.hub-prefix {
  text-align: center;
  font-size: 2rem;
}
.hub-main-text {
  text-align: center;
}
#progressBar {
  width: 20rem;
  height: 3rem;
  border: 0.2rem solid rgb(11,223,36);
  margin-top: 2rem;
  border-radius: 50px;
  overflow: hidden;
}
#progressBarFull {
  height: 100%;
  background: rgb(11,223,36);
  width: 0%;
}


/* 12 */
.custom-btn {
  position: absolute;
  left: 45%;
  top: 500px;
  margin-top: 50px;
  display: flex;
  width: -50%;
}
.btn-12{
  right: 20px;
  bottom: 20px;
  border:none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}
.btn-12 span {
  background: rgb(0,172,238);
background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  border-radius: 5px;
  margin:0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.btn-12 span:nth-child(1) {
  box-shadow:
  -7px -7px 20px 0px #fff9,
  -4px -4px 5px 0px #fff9,
  7px 7px 20px 0px #0002,
  4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}



/* Media Queris */
@media screen and (max-width: 768px) {
  .choice-container {
    min-width: 40rem;
  }
}
@media only screen and (max-width: 600px) { /* Celular */
  #question {
    font-size: 2.5rem;
  }
  .custom-btn {
    position: absolute;
    left: 40%;
    top: 500px;
    margin-top: 50px;
    display: flex;
    width: -50%;
  }
}
@media only screen and (max-width: 768px) { /* Tablet */
  #question {
    font-size: 3.2rem;
  }
}
@media only screen and (max-width: 992px) { /* Laptop */

}

@media only screen and (max-width: 1200px) { /* lage Screen */

}