@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');

* {
  margin: 0;
  padding: 0;
}
body {
  margin-top: 200px;
}
.choice-container {
  display: flex;
  margin-bottom: 0.8rem;
  width: 100%;
  border-radius: 4px;
  background: rgb(18,93,255);
  font-size: 3rem;
  min-width: 80rem;
}
.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(6,103,247, 0.5);
  transform: scale(1.02);
  transform: transform 100ms;
}
.choice-prefix {
  padding: 2rem 2.5rem;
  color: #fff;
}
.choice-text{
  padding: 2rem;
  width: 100%;
}
.correct {
  background: linear-gradient(32deg, rgba(11,223,36)0%, rgb(41,232,111)100%);
}
.incorrect {
  background: linear-gradient(32deg, rgba(230,29,29,1)0%, rgb(224,11,11,1)100%);
}
/* Heads up Display */
#hud {
  display: flex;
  justify-content: space-between;
}
.hub-prefix {
  text-align: center;
  font-size: 2rem;
}
.hub-main-text {
  text-align: center;
}
#progressBar {
  width: 20rem;
  height: 3rem;
  border: 0.2rem solid rgb(11,223,36);
  margin-top: 2rem;
  border-radius: 50px;
  overflow: hidden;
}
#progressBarFull {
  height: 100%;
  background: rgb(11,223,36);
  width: 0%;
}


.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 1.3rem;
  font-weight: 600;
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #1ab188;
  color: #ffffff;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: #179b77;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}




/* Media Queris */
@media screen and (max-width: 768px) {
  .choice-container {
    min-width: 40rem;
  }
}
@media only screen and (max-width: 600px) { /* Celular */
  #question {
    font-size: 2.5rem;
  }
  .custom-btn {
    position: absolute;
    left: 40%;
    top: 500px;
    margin-top: 50px;
    display: flex;
    width: -50%;
  }
}
@media only screen and (max-width: 768px) { /* Tablet */
  #question {
    font-size: 3.2rem;
  }
}
@media only screen and (max-width: 992px) { /* Laptop */

}

@media only screen and (max-width: 1200px) { /* lage Screen */

}